.appointment{
    display: grid;
    place-items: center;
    width: 80vw;
    padding-top: 3vw;
    padding-bottom: 3vw;
    font-family: myboldfont;
    overflow-y: scroll;
    height: 100vh;
}
*::-webkit-scrollbar {
  width: 10px;
}
*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 3px;
}
*::-webkit-scrollbar-thumb {
  background: var(--primary1);
  border-radius: 4px;
}
.appointment header{
    font-size: 5vw;
    text-align: center;
}
.appointment-caro header{
    color: var(--light);
    font-size: 3vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
}
.appointment-caro{
    width: 40vw;
    margin: auto;
    background-color: var(--primary1);
    margin-top: 1vh;
    margin-left: 5vw;
    border-radius: 16px;
    padding-top: 1vw;
    padding-bottom: 1vw;
}
.appointment-item{
    display: grid;
    place-content: start;
    padding: 3vw;
}
.appointment-item p{
    color: var(--light);
    padding: 2vw;
    font-family: myboldfont;
    padding-top: 1vw;
    padding-bottom: 1vw;
}
.appoint-left{
    color: var(--light);
    padding: 2vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
}
.appointment-caro button{
    color: var(--light);
    border: 3px solid;
    border-radius: 5px;
}@media (max-width: 650px) {
    .appointment{
        width: 100vw;
        padding-top: 3vw;
        padding-bottom: 3vw;
        font-family: myboldfont;
    }
    .appointment header{
        text-align: center;
    }
    .appointment-caro header{
        color: var(--light);
        font-size: 6vw;
    }
    .appointment-caro{
        width: 90vw;
        margin: auto;
        background-color: var(--primary1);
        margin-top: 5vh;
        border-radius: 16px;
    }
    .appointment-item{
        display: grid;
        place-content: center;
        padding-top: 5vw;
        padding-bottom: 5vw;
    }
    .appointment-item p{
        color: var(--light);
        /* font-size: 3vw; */
        padding: 2vw;
        font-family: myboldfont;
        padding-top: 5vw;
        padding-bottom: 5vw;
    }
    .appoint-left{
        color: var(--light);
        padding: 2vw;
        font-size: large;
        padding-top: 5vw;
        padding-bottom: 5vw;
    }
    .appointment-caro button{
        color: var(--light);
        border: 3px solid;
        border-radius: 5px;
    }
}
.admin-appointment{
    display: grid;
    place-items: start;
    width: 80vw;
    padding-top: 3vw;
    padding-bottom: 3vw;
    font-family: myboldfont;
    overflow-y: scroll;
    height: 100vh;
}
*::-webkit-scrollbar {
  width: 10px;
}
*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 3px;
}
*::-webkit-scrollbar-thumb {
  background: var(--primary1);
  border-radius: 4px;
}
.admin-appointment header{
    font-size: 5vw;
    text-align: center;
}
.admin-appointment-div{
    display: flex;
    flex-wrap: wrap;
}
.admin-appointment-caro header{
    color: var(--light);
    font-size: 3vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
}
.admin-appointment-caro{
    width: 30vw;
    margin: auto;
    background-color: var(--primary1);
    margin-top: 1vh;
    margin-left: 5vw;
    border-radius: 16px;
    padding-top: 1vw;
    padding-bottom: 1vw;
}
.admin-appointment-item{
    display: grid;
    place-content: start;
    padding: 3vw;
}
.admin-appointment-item p{
    color: var(--light);
    padding: 2vw;
    font-family: myboldfont;
    padding-top: 1vw;
    padding-bottom: 1vw;
}
.appoint-left{
    color: var(--light);
    padding: 2vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
}
.admin-appointment-caro button{
    color: var(--light);
    border: 3px solid;
    border-radius: 5px;
}@media (max-width: 650px) {
    .admin-appointment{
        width: 100vw;
        padding-top: 3vw;
        padding-bottom: 3vw;
        font-family: myboldfont;
    }
    .admin-appointment header{
        text-align: center;
    }
    .admin-appointment-caro header{
        color: var(--light);
        font-size: 4vw;
    }
    .admin-appointment-caro{
        width: 45vw;
        margin: auto;
        background-color: var(--primary1);
        margin-top: 5vh;
        border-radius: 16px;
        padding: 2vw;
    }
    .admin-appointment-item{
        display: grid;
        place-content: center;
        padding-top: 0vw;
        padding-bottom: 0vw;
    }
    .admin-appointment-item p{
        color: var(--light);
        padding: 2vw;
        font-family: myboldfont;
        font-size: 3vw;
    }
    .appoint-left{
        color: var(--light);
        font-size: 3vw;
        padding: 2vw;
    }
    .admin-appointment-caro button{
        color: var(--light);
        border: 3px solid;
        border-radius: 5px;
    }
}