.Book{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80vw;
}
.Book form{
    display: grid;
    place-items: center;
    place-content: center;
}
.Book form h3{
    margin-top: 2vh;
}
.Book form h3:nth-child(2){
    margin-top: 5vh;
}
.Book input{
    outline: none;
    display: flex;
    width: 40vw;
    text-align: center;
    font-size: 2vw;
    height: 6vh;
    border-radius: 15px;
    border: 3px solid rgb(228, 228, 228);
    border: 3px solid var(--primary1-sha);
    /* border: none; */
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.233);
    font-family: myboldfont;
    background-color: var(--light);
}
.Book textarea{
    padding: 2vw;
    outline: none;
    display: flex;
    width: 40vw;
    height: 30vh;
    text-align: start;
    font-size: 4vw;
    border-radius: 15px;
    border: 3px solid rgb(228, 228, 228);
    border: 3px solid var(--primary1-sha);
    /* border: none; */
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.233);
    font-family: myboldfont;
    background-color: var(--light);
}
*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
::-webkit-calendar-picker-indicator{
    padding-right: 5px;
    cursor: pointer;
}
@media (min-width:650px) {
    .Book header{
        font-size: 3vw;
    }
    .Book textarea{
        font-size: 1.8vw;
    }
}
.Book button{
    margin-top: 2vh;
    background-color: var(--primary1);
    color: var(--light);
    padding-left: 10vw;
    padding-right: 10vw;
    border-radius: 10px;
}
@media (max-width: 650px) {
    .Book{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 10vh;
        width: 100vw;
    }
    .Book form{
        display: grid;
        place-items: center;
        place-content: center;
    }
    .Book form h3{
        margin-top: 2vh;
    }
    .Book form h3:nth-child(2){
        margin-top: 5vh;
    }
    .Book input{
        outline: none;
        display: flex;
        width: 90vw;
        text-align: center;
        font-size: 4vw;
        height: 6vh;
        border-radius: 15px;
        border: 3px solid rgb(228, 228, 228);
        border: 3px solid var(--primary1-sha);
        /* border: none; */
        box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.233);
        font-family: myboldfont;
        background-color: var(--light);
    }
    .Book textarea{
        padding: 2vw;
        outline: none;
        display: flex;
        width: 90vw;
        text-align: start;
        font-size: 4vw;
        border-radius: 15px;
        border: 3px solid rgb(228, 228, 228);
        border: 3px solid var(--primary1-sha);
        /* border: none; */
        box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.233);
        font-family: myboldfont;
        background-color: var(--light);
    }
    .Book button{
        margin-top: 2vh;
        background-color: var(--primary1);
        color: var(--light);
        padding-left: 10vw;
        padding-right: 10vw;
        border-radius: 10px;
    }
}